@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 47 65% 95%;
    --foreground: 24 9.8% 10%;
    --card: 47 60% 90%;
    --card-foreground: 24 9.8% 10%;
    --popover: 47 60% 90%;
    --popover-foreground: 24 9.8% 10%;
    --primary: 84 39% 35%;
    --primary-foreground: 48 100% 98%;
    --secondary: 48 5% 85%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 48 5% 85%;
    --muted-foreground: 24 9.8% 40%;
    --accent: 84 45% 45%;
    --accent-foreground: 48 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 48 5% 80%;
    --input: 48 5% 80%;
    --ring: 84 39% 35%;
    --radius: 0.5rem;

    --sidebar-background: 84 39% 15%;
    --sidebar-foreground: 48 10% 80%;
    --sidebar-primary: 48 100% 98%;
    --sidebar-primary-foreground: 84 39% 35%;
    --sidebar-accent: 84 39% 25%;
    --sidebar-accent-foreground: 48 100% 98%;
    --sidebar-border: 84 39% 20%;
    --sidebar-ring: 84 45% 45%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 24 9.8% 10%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 84 39% 40%;
    --primary-foreground: 48 100% 98%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 84 45% 50%;
    --accent-foreground: 48 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 84 39% 40%;

    --sidebar-background: 84 39% 10%;
    --sidebar-foreground: 48 10% 80%;
    --sidebar-primary: 48 100% 98%;
    --sidebar-primary-foreground: 84 39% 35%;
    --sidebar-accent: 84 39% 20%;
    --sidebar-accent-foreground: 48 100% 98%;
    --sidebar-border: 84 39% 15%;
    --sidebar-ring: 84 45% 45%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
